/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&:wght@200..800&display=swap");
/* VARIABLES */
:root {
  --bg-color: #fff;
  --link-color: #000;
  --link-size: 1.1rem;
  --order-total: rgb(58, 193, 255);
}

/* General CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

html {
  font-size: 1rem;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  position: relative;
  /* overflow-x: hidden; */
  width: 100%;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

nav {
  display: flex;
  gap: 1rem;
  height: 90px;
}

.logo {
  width: 250px;
}

header nav ul {
  display: flex;
  align-items: center;
  color: #fff;
}
header nav ul li {
  list-style: none;
  margin: 0 10px;
  padding: 5px 5px;
  border-radius: 15px;
}
header nav ul li.active {
  border: 1px solid #000;
}
header nav ul li a {
  font-size: var(--link-size);
  display: flex;
  align-items: center;
  height: 32px;
}
header nav ul li.btn {
  background-color: rgba(var(--right-side-bg-color), 0.4);
  border: 1px solid rgb(var(--right-side-bg-color));
}
header nav ul li.btn img {
  width: 32;
  height: 32px;
}
header nav ul li.home a {
  display: flex;
  align-items: center;
}
header nav ul li.home a img {
  margin-right: 5px;
}

/* MAIN */
main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  top: 90px;
}

/* LOADING WRAPPER */
.loading-wrapper {
  width: 100%;
  height: calc(100vh - 90px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  /* background-image: url("img/loading-bkgd.webp");
  background-size: cover;
  background-position: center; */
  color: #000;
}

.loading-group {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

/* "your image" loading circle */
.puck {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-shrink: 0;
  background-image: url(img/favicon.png);
  background-position: center;
  background-size: contain;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.347),
    0 1px 3px rgba(0, 0, 0, 0.05);
}
/* 3. pulse / breathe */
.pulse .puck {
  animation: pulse 1.3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.35);
    opacity: 0.55;
  }
}

.loading-wrapper .dot {
  display: inline-block;
  opacity: 0.2;
  transform: translateY(0);
  animation: dotWave 1.2s infinite ease-in-out;
}

/* Stagger the timing for each dot */
.loading-wrapper .dot:nth-child(1) {
  animation-delay: 0s;
}
.loading-wrapper .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-wrapper .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dotWave {
  0%,
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-4px); /* Slight vertical pulse */
  }
}

/* PRODUCT HEADER */
.filtered-product-header {
  margin: 2rem 0;
  font-size: 4rem;
  text-align: center;
}

/* PRODUCTS WRAPPER */
.products-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  visibility: hidden;
}

/* RENDERD PRODUCTS */
.products {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.products img {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  position: relative;
}

.item-container {
  background-color: #e6e6e6;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.347),
    0 1px 3px rgba(0, 0, 0, 0.05);
  flex: 1;
}

.item-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  width: 100%;
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-name {
  font-weight: 900;
}

.product-description {
  color: #343434;
}

.price {
  font-size: 1.6rem;
}

.product-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.learn-more {
  color: #424141;
  margin-right: 2rem;
}

.add-to-cart {
  background-color: rgb(58, 193, 255);
  color: #fff;
  width: 50%;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}

.products .item .item-container .add-to-cart img {
  width: 32px;
  height: 32px;
}
.products .item .item-container .add-to-wishlist img {
  width: 32px;
  height: 32px;
  padding: 5px;
}
/* CART */
.cart {
  position: fixed;
  top: 90px;
  right: 0;
  height: calc(100dvh - 90px);
  width: 45%;
  background-color: rgb(64, 64, 64);
  color: #fff;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(20px); /* small, just for a nice slide-in feel */
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 0.3s;
  display: flex;
  flex-direction: column;
}

.cart.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

/* cart header */
.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
/* cart items */
.cart-items {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  min-height: 0;
}

/* cart item */
.cart-item {
  display: flex;
  justify-content: start;
  width: 100%;
}

.column1 {
  width: 40%;
  text-align: center;
}

.column2,
.column3,
.column4 {
  width: 20%;
  text-align: center;
}

/* item info */
.item-info {
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  gap: 10px;
  font-size: 0.8rem;
  width: 40%;
}

.cart-item .item-info img {
  width: 30%;
  border-radius: 1rem;
}

/* unit price */
.cart-item .unit-price {
  font-size: 1.2rem;
}

.cart-item .units .number {
  margin: 0 10px;
  font-size: 1.2rem;
}

.cart-item .units .btn {
  width: 30px;
  height: 30px;
  background-color: rgb(58, 193, 255);
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.minus,
.btn.plus {
  font-size: 2rem;
}

.unit-price,
.units,
.remove {
  width: 20% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cart footer */
.cart-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(var(--right-side-bg-color));
}
.cart-footer div,
.cart-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 1.3rem;
}
.cart-footer .subtotal {
  background-color: white;
  color: #000;
}
.cart-footer .checkout {
  background-color: rgb(22, 165, 67);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cart-footer a:hover {
  filter: brightness(85%);
}

.fa-trash {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fa-trash:hover {
  color: rgb(217, 93, 93);
}

/* MODAL STYLES */
.cart-modal {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999;
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.item-added,
.item-plus-one {
  background-color: rgb(123, 194, 123);
}

.item-removed {
  background-color: rgb(255, 111, 111);
}

.empty-cart {
  background-color: rgb(255, 111, 111);
}

.total-items-in-cart {
  background-color: var(--order-total);
  width: 20px;
  position: absolute;
  border-radius: 30px;
  top: 25px;
  right: 0;
  transform: translateX(-250%);
  color: #000;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  main {
    position: relative;
  }

  .total-items-in-cart {
    background-color: var(--order-total);
    width: 20px;
    position: absolute;
    border-radius: 30px;
    top: 20px;
    right: 30px;
    transform: translateX(-100%);
    color: #e6e6e6;
    font-size: 1rem;
  }

  .loading-wrapper {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
  }

  .products {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .products .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: none !important;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    gap: 10px;
  }

  .cart {
    width: 100%;
    height: calc(100dvh - 90px);
  }

  .cart-modal {
    font-size: 1rem;
  }
}
