/* CART */
.cart-wrapper {
  height: 100%;
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  padding-bottom: 1rem;
}

.cart-wrapper h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.cart-wrapper > p {
  margin: 0.5rem 0;
}

.empty-cart {
  font-size: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

/* cart item */
.cart-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.347),
    0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 1rem;
}

.cart-item-top-row {
  display: flex;
  gap: 1rem;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cart-item-img {
  width: 200px;
  height: 200px;
  border: 1px solid #999;
  border-radius: 1rem;
}

.cart-item-name {
  font-size: 1.1rem;
}
.cart-item-name,
.cart-item-price {
  font-weight: 900;
}

.cart-item-description {
  color: #666;
}

.cart-item-price {
  text-align: right;
  flex: 1;
}

.cart-item-modify-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  gap: 1rem;
  margin-left: 0.5rem;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.347),
    0 1px 3px rgba(0, 0, 0, 0.05);
}

.units {
  display: flex;
  gap: 1rem;
}

.units > .btn {
  background-color: #d7d7d7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Horizontally centers content */
  cursor: pointer;
}

.units > .number {
  display: flex;
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Horizontally centers content */
}

.fa-trash {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fa-trash:hover {
  color: rgb(217, 93, 93);
}

.subtotal {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.proceed-to-checkout-btn {
  background-color: var(--motif-color);
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.proceed-to-checkout-btn:hover {
  filter: brightness(85%);
}

.go-back-to-store {
  color: #999999;
  cursor: pointer;
}

.go-back-to-store:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .cart-item {
    width: 90%;
  }

  .cart-item-top-row {
    flex-direction: column;
  }

  .cart-item-info {
    width: 100%;
  }

  .cart-item-img {
    width: 100%;
    height: 100%;
  }
}
